{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
news
{% endblock title %}

{% block content %}


   <h1>Все новости</h1>
   <hr>
    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить новость</a>
    {% endif %}
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Текст</td>
               <td>Дата</td>

                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.topic|currency }}</td>
               <td>{{ post.text|truncatewords:20 }}</td>
               <td>{{ post.date_creation|currency }}</td>
               <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
 {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


   {{ page_obj.number }}


   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
